* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.job-desc-div {
  height: 80vh;
  width: 90vw;
  background-color: #475569;
  margin: 30px auto;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
.logo {
  height: 100px;
}
.job-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.salary-location {
  display: flex;
  justify-content: space-between;
}
.salary-location div {
  display: flex;
}
.salary-location div p {
  margin: 10px;
}
.description div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description div p a {
  text-decoration: none;
  font-size: 18px;
}
.description {
  padding: 10px;
}
.skills-container {
  padding: 10px;
}
.life-at-company {
  padding: 10px;
}
