* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-job-container {
  background-color: black;
  min-height: 100vh;
}
.job-div {
  padding-top: 10px;
  display: flex;
  width: 90%;
  margin: auto;
  background-color: black;
  color: white;
}
.name-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 250px;
  height: 220px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.job-designation {
  color: black;
}
.profile-pic {
  font-size: 50px;
  color: black;
}
.name-card {
  padding: 10px;
}
.name-card h1 {
  color: #6366f1;
  font-weight: 400;
}
.name-card p {
  font-size: 15px;
}
.employment-types form div {
  margin: 10px 0px;
}
.salary-range form div {
  margin: 10px 0px;
}
hr {
  margin: 20px 0px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  background-color: #262624;
  margin-left: 5px;
}

.search-container input {
  height: 30px;
  width: 250px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid #262624;
  border-radius: 4px;
}
.search-icon {
  font-size: 25px;
  color: white;
  width: 40px;
}
.right-job-div {
  margin: 10px;
}
